################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*/obj/Debug
*/bin/Debug
/.vs/Alien-Colony/v14
#find what for
/Alien-Colony.sln.DotSettings.user
